DirectoryIndex index.php
RewriteEngine on
RewriteCond $1 !^(index\.php|items|cache|assets|media|css|js|img|manageb7ma2014|robots\.txt|favicon\.ico|license.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?/$1 [L,QSA]